#search-header {
    background-image: url("../images/search-recipe.jpg");
    background-size: cover;
    height: 40vh;
}

#recipe-header-text {
    position: absolute;
    top: 25%;
    left: 33%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#recipe-header-text h1 {
    color: #f1f1f1;
}

#recipe-header-text p {
    color: #f1f1f1;
}

#recipe-search-form {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#recipe-search-input {
    position: relative;
    width: 60vw;
    background-color: #f1f1f1;
}

#search-icon {
    position: absolute;
    display: inline;
    position: top right;
    right: 25px;
    top: 18px;
    font-size: 1.2rem;
}

#recipe-search-btn {
    position: absolute;
    left: -9000px;
}

#sok {
    position: relative;
    display: inline;
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
}

#recipe-result-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    padding-top: 5rem;
}

.recipe-wrapper {
    position: relative;
}

.recipe-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#recipe-result-section {
    max-width: 1260px;
    margin: 0 auto 30px;
}

.recipe-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
}

.recipe-difficulty {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f1f1f1
}

.recipe-duration {
    position: absolute;
    left: 210px;
    top: 0;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f1f1f1;
}