@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .wrapper {
        display: grid;
        position: absolute;
        top: 20px;
    }
    
    .breakfast-wrapper {
        display: grid;
        position: relative;
        grid-gap: 5px;
        height: 23vh;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(1, 10vmax);
        grid-template-rows: repeat(1, 10vmax);
        
    }
    
    .lunch-wrapper {
        display: grid;
        position: relative;
        grid-gap: 5px;
        height: 23vh;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(1, 10vmax);
        grid-template-rows: repeat(1, 10vmax);
    }
    
    .dinner-wrapper {
        display: grid;
        position: relative;
        grid-gap: 5px;
        flex-basis: 100%;
        height: 23vh;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(1, 10vmax);
        grid-template-rows: repeat(1, 10vmax);
        
    }
        
} 
 
html {
    overflow-y: scroll;

}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p {
    margin-top: 1vh;
}


#title-text {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    margin: auto;
    left: 50%;
    margin-left: -104px;
    margin-bottom: 1.7vh;
}

.wrapper {
    display: grid;
    position: absolute;
    top: 20px;
}

.breakfast-wrapper {
    display: grid;
    position: relative;
    grid-gap: 5px;
    height: 23vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 10vmax);
    grid-template-rows: repeat(3, 10vmax);
    
}

.lunch-wrapper {
    display: grid;
    position: relative;
    grid-gap: 5px;
    height: 23vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 10vmax);
    grid-template-rows: repeat(3, 10vmax);
}

.dinner-wrapper {
    display: grid;
    position: relative;
    grid-gap: 5px;
    flex-basis: 100%;
    height: 23vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 10vmax);
    grid-template-rows: repeat(3, 10vmax);
    
}


.breakfast {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.lunch {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.dinner {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.btn-collapse {
    display: grid;
    background-color: rgb(255, 165, 20);
    border: none;
    margin: auto;
    height: 4.5vh;
    margin-top: -1vh;
    border-radius: 3px;
    position: relative;
    width: 72vw;
}


.button-add {
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5vmax;
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
    top: 0;
    background-color: rgb(255, 165, 20);
    font-size: 1.5vmax;
    color: white;
    border-style: none;
}


.complete-btn {
    position: relative;
    background-color: rgb(255, 165, 20);
    border-style: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 170px;
    height: 70px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: -85px;
    left: 50%;
    
}

