
<div class="tab-content">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" id="groceries-btn-wrapper">
			<label class="nav-link a1" id="groceries-tab" for="grocery-btn" data-toggle="tab" role="tab" aria-controls="groceries" aria-selected="true">Enkeltvarer</label>
		</li>
		<li class="nav-item" id="recipe-btn-wrapper">
			<label class="nav-link a1" id="recipes-tab" for="recipe-btn" data-toggle="tab" role="tab" aria-controls="Recipes" aria-selected="false">Oppskrifter</label>
		</li>

	</ul>
</div>
