<ion-header>
  <ion-navbar color="oransje">
    <ion-title>Oversikt</ion-title>
    <ion-buttons end>
      <button class="emptyButton" (click)="presentEmptyAlert()">Tøm</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card *ngIf="!meals.length > 0 && !products.length > 0">
    <img class="informationImg" src="assets/imgs/shopping-basket.png"/>
    <h2 class="infoText">Du har ingen produkter eller oppskrifter i handlekurven din.</h2>
  </ion-card>




  <ion-grid wrap responsive-lg>
    <ng-container *ngIf="meals.length > 0">
      <ion-row>
        <h1>Oppskrifter</h1>
      </ion-row>
    </ng-container>
    <ion-row *ngFor="let meal of meals">

      <ion-row class="mealHeader">
        <ion-col col-1 (click)="expandMeal(meal)">
          <ion-icon name="arrow-dropdown" class="dropdown-icon"></ion-icon>
        </ion-col>
        <ion-col col-10 (click)="expandMeal(meal)">
          <p>{{meal.meal.Title}}</p>
        </ion-col>
        <ion-col col-1>
          <button ion-button icon-only clear color="danger" class="removeButton" (click)="deleteMealAndUpdate(meal.meal.MealId, meal.meal.Title)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="productHeader" [ngClass]="meal.expanded ? 'expanded' : 'collapsed'">
        <ion-col col-6>
          <p>Produkt</p>
        </ion-col>
        <ion-col col-3>
          <p>Pris</p>
        </ion-col>
        <ion-col col-3>
          <p>Antall</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of meal.meal.Products" [ngClass]="meal.expanded ? 'expanded' : 'collapsed'">
        <ion-col col-1>
          <img class="productImg" [src]="item.Image" />
        </ion-col>
        <ion-col col-6>
          <p>{{item.Name}}</p>
        </ion-col>
        <ion-col col-3>
          <p>{{item.Price}},-</p>
        </ion-col>
        <ion-col col-2>
          <p>{{item.Quantity}}</p>
        </ion-col>
      </ion-row>
    </ion-row>

    <ng-container *ngIf="products.length > 0">
      <ion-row>
        <h1>Produkter</h1>
      </ion-row>
      <ion-row class="productHeader">
        <ion-col col-6>
          <p>Produkt</p>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-3>
          <p>Pris</p>
        </ion-col>
        <ion-col col-2>
          <p>Antall</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of products">
        <ion-col col-2>
          <img class="productImg" [src]="item.Image" />
        </ion-col>
        <ion-col col-6>
          <p>{{item.Name}}</p>
        </ion-col>
        <ion-col col-2>
          <p>{{item.Price}}</p>
        </ion-col>
        <ion-col col-1>
          <p>{{item.Quantity}}</p>
        </ion-col>
        <ion-col col-1>
          <button ion-button icon-only clear color="danger" class="removeButton" (click)="deleteProductAndUpdate(item.ProductId, item.Name)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ng-container>


  </ion-grid>
  <ion-item *ngIf="products.length > 0 || meals.length > 0">
    <p class="totalPrice">Pris: {{entireWeek.TotalPrice}}</p>
  </ion-item>
</ion-content>