page-checkout {

    .emptyButton{
        background: orange;
        color: white;
        font-size: 17px;
    }

    .productImg{
        max-width: 120%;
    }

    ion-icon {
        position: relative;
        left: 10px;
        bottom: 5px;
        font-size: 30px;
        color: #FFA51E; 
    }

}
