<% if (data.results){ %>

<table id="rec">
    <tr>
        <td>Bilde</td>
        <td>Navn</td>
        <td>Vanskelighetsgrad</td>
    </tr>

    <% for (i in data.results){ %>
    <tr>
        <td><img src="<%= data.results[i].feature_image_url %>" alt="Bilde av matrett"></td>
        <td><p><%= data.results[i].title %></p></td>
        <td><p><%= data.results[i].difficulty_string %></p></td>
    </tr>
    <% } %>

</table>
<% } %>