<% if (data.results){ %>

<table id="rec">


    <% for (i in data.results){ %>
    <tr>
		<div id="recipe-wrapper">
			<td><img src="<%= data.results[i].feature_image_url %>" alt="Bilde av matrett"></td>
			<td><p><%= data.results[i].title %></p></td>
			<td><p><%= data.results[i].difficulty_string %></p></td>
		</div>
    </tr>
    <% } %>

</table>
<% } %>