.cart-container {
    display: grid;
    grid-template-areas: ". header ." ". cart ." "footer footer footer";
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 200px 1fr 100px;
    min-height: 100vh;
}

.cart-header {
    grid-area: header;
    position: relative;
}

.cart-header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shopping-cart {
    grid-area: cart;
}

.cart-list {
    list-style: none;
}

.cart-item-wrapper {
    position: relative;
    height: 3.5rem;
    border-top: 0.5px solid #cacaca;
}

.cart-item-wrapper:last-child {
    border-bottom: 0.5px solid #cacaca;
}

.cart-image-wrapper img {
    left: 2rem;
}

.item-quantity {
    left: 0.5rem;
    padding-right: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.cart-item-text {
    position: absolute;
    left: 8rem;
    top: 50%;
    transform: translate(0, -50%);
}

.item-cost-wrapper {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.item-cost-wrapper p {
    display: inline;
    margin: 0 1rem;
}

.cart-item-text p {
    font-size: 0.9rem;
    margin: 0;
}

.cart-delete-form {
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.delete-cart-item-icon {
    padding: 8px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    margin: 0;
}

.delete-input-hidden {
    position: absolute;
    left: -99999px;
}

.cart-footer {
    grid-area: footer;
}