#index-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url('../images/weekplanner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.4;
    filter: blur(10px);
    z-index: -1000;
    
}

#index-title {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#grid-wrapper {
    display: grid;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 49%;
    grid-gap: 0px 5vh;
    margin-right: -50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(autofill, minmax(1fr, 1fr));
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "1 2 3"
 }
    


.index-grid {
    display: grid;
    height: 50vh;
    width: 25vw;
    position: relative;
    grid-template-rows: repeat(autofill, minmax(1fr, 1fr));
    grid-gap: 0px 0vh;
    grid-template-rows: 80% 20%;
    grid-template-areas: "image-row" "text-row";


}

.index-image {
    grid-area: image-row;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    min-width: 100%;
}

.steps-image {
    height: 100%;
    position: absolute;
    
}

.index-image-text {
    grid-area: text-row;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 0.9rem;
    padding: 5px;
    position: absolute;
    
}
.next-btn-index {
    position: absolute;
    background-color: rgb(255, 165, 20);
    border-style: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 170px;
    height: 70px;
    margin: 0;
    top: 85vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
    