.navbar {
    background-color: #f1f1f1;
    margin-bottom: 2vh;
}

.navbar-brand {
    padding: 0;
    padding-bottom: 0.5rem;
}

#navbar-fix	{
	margin-bottom: 0;
}

.icons {
    font-size: 1.5rem;
    padding: 0 1rem;
}

#logo-header {
    width: 2rem;
}

#logo-text {
    display: inline;
    position: relative;
    top: 5px;
    margin: 0;
}