
li {
	margin-bottom: 5px;
	list-style-type: none;
}

h2 {
	margin-left: 3%;
}

#h1-test {
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 30%;
	left: 5%;
}

#grocery-search-form {
	position: absolute;
	margin: 0;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.buy-button {
	display: grid;
	border: none;
	position: absolute;
	width: 23%;
	height: 15%;
	font-size: 0.7rem;
	font-weight: bold;
	top: 0;
	right: 5%;
	color: white;
	border-radius: 3px;
	background-color: rgb(255, 165, 20);
	z-index: 1000;
}

.buy-button:hover {
	background-color: rgb(240, 156, 21);
}


.container-fluid {
	display: grid;	
	grid-template-columns: 15vw 85vw;
	grid-template-rows: 20rem 1fr;
	grid-template-areas:
	"header header"
	"sidebar content"
}

#container-search {
	margin: 0;
	padding: 0;
	position: absolute;
}


.header  {
	grid-area: header;
	position: relative;
	top: 0;
	background-image: url(/images/search.jpg);
	background-size: cover;
}



.sidebar    {
	grid-area: sidebar;
	position: relative;
	background-color: rgb(250, 250, 250);
}

.content    {
	margin-top: 0;
	grid-area: content;
	display: grid;
	position: relative;
}

.search-result  {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	list-style-type: none;
	grid-gap: 10px;
	margin-right: 2%;
	margin-top: 2%;
}



.search-item {
	display: grid;
	position: relative;
	border-radius: 2px;
	max-height: 220px;
	box-sizing: border-box;
	grid-template-rows: 59% 13% 14% 14%;
	grid-template-areas: "image" "price" "item" "item2";
}
.img-container {
	max-height: 140px;
	position: absolute;
	margin: 0;

}
.img-thumb {
	max-height: 140px;
	max-width: 140px;
	position: relative;
	grid-area: image;
	border: none;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	  
 }

 #item-name {
	 grid-area: item;
	 font-size: 1rem;
	 margin: auto;
	 text-align: center;
 }

 
 #item-name-extra {
	grid-area: item2;
	font-size: 1rem;
	margin: auto;
}

 #item-price {
	 grid-area: price; 
	 font-weight: bold;
	 background-color: rgb(240, 240, 240);
	 margin: auto;
	 z-index: 1000;
 }