a {
	color: black;
}

* {
	box-sizing: border-box;
}

h2 {
	margin-left: 3%;
}

#h1-test {
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 36%;
	left: 21%;
	
}

#grocery-search-form {
	position: absolute;
	margin: 0;
	top: 70%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.buy-button {
	display: grid;
	border: none;
	position: absolute;
	width: 23%;
	height: 15%;
	font-size: 0.7rem;
	font-weight: bold;
	top: 0;
	right: 5%;
	color: white;
	border-radius: 3px;
	background-color: rgb(255, 165, 20);
	z-index: 1000;
}

.buy-button:hover {
	background-color: rgb(240, 156, 21);
}

.container-fluid {
	display: grid;
	overflow: hidden;
	grid-template-columns: 20vw 80vw;
	grid-template-rows: 20rem 1fr;
	grid-template-areas: "header header" "sidebar content"
}

#container-search {
	margin: 0;
	padding: 0;
	position: absolute;
}

#category-list a {
	margin-bottom: 5px;
	list-style-type: none;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
}

.sub {
	display: none;
	margin-left: 1%;
	
}

input:checked ~ .sub {
	display: block;
}

.child-cat {
	cursor: pointer;
}

.checkbox {
	position: absolute;
	left: -9999px;
}

.header {
	grid-area: header;
	position: relative;
	top: 0;
	background-image: url(/images/search.jpg);
	background-size: cover;
}

.sidebar {
	grid-area: sidebar;
	position: relative;
	min-width: 230px;
	margin-left: 18%;
	margin-top: 25%;
}

.category-list {
	z-index: 1000;
	color: black;
}

.category-items {
	font-size: 1rem;
}

.children-categories {
	margin-left: 1%;
}

.content {
	margin-top: 0;
	grid-area: content;
	display: grid;
	position: relative;
	margin-right: 2%;
}

.search-result {
	display: grid;
	grid-gap: 5vh 0px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
	list-style-type: none;
	margin-top: 10%;
	position: relative;
}

.search-item {
	display: grid;
	position: relative;
	border-radius: 2px;
	grid-template-rows: 58% 14% 14% 14%;
	grid-template-areas: "image" "price" "unitPrice" "item" "item2";
}

.img-container {
	position: absolute;
	text-align: center;
	height: 140px;
	min-height: 140px;
	position: relative;
	vertical-align: middle;
}

.img-thumb {
	max-height: 110px;
	position: relative;
	grid-area: image;
	border: none;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#item-name {
	grid-area: item;
	font-size: 1rem;
	margin: auto;
	text-align: center;
}

#item-name-extra {
	grid-area: item2;
	font-size: 13px;
	margin: auto;
	color: #8d8790;
}

#item-price {
	grid-area: price;
	font-weight: bold;
	background-color: rgb(240, 240, 240);
	z-index: 1000;
	margin: auto;
}

#item-gross-price {
	grid-area: unitPrice;
	margin: 1% auto 6% auto;
	font-size: 11px;
	color: #8d8790;
}