#recipe-header {
    position: relative;
    background-size: cover;
    height: 60vh;
    width: 100vw;
}

.gradient {
    bottom: 0;
    height: 50%;
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.recipe-header-title {
    position: absolute;
    left: 15vw;
    top: 35vh;
    color: #f1f1f1;
    font-size: 1.5rem;
}

.recipe-header-title h1 {
    font-weight: bold;
}

.concept-icon {
    -ms-flex-line-pack: center;
    align-content: center;
    display: inline-block;
    left: 70vw;
    top: 10vh;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.concept-icon img {
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    justify-self: auto;
    height: 7rem;
    margin-bottom: -1.5rem;
}

.concept-text {
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: -30px;
    margin-top: -30px;
    font-size: 2.25rem;
}

#add-section-top {
    height: 150px;
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba($color: #000000, $alpha: 0.3);
    margin-top: -100px;
    top: 53vh;
    left: 70vw;
    color: #f1f1f1;
}

#add-section-top	p	{
	margin: 0;
}

#add-section-top div,
input {
    display: inline-block;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0.5rem 0.5rem;
}

.png {
    color: rgba($color: #000000, $alpha: 0);
}

#add-text-wrapper {
    margin-top: 1rem;
}

.add-recipe {
    font-size: 1.2rem;
}

.add-recipe:focus {
    background-color: rgb(27, 179, 27);
}

//Recipe GRID
.mini-header {
	display: flex;
	position: absolute;
    grid-area: header;
	margin-bottom: 2rem;
	background-color: #cacaca;
	height: 3rem;
	width: 35%;
	left: 50%;
	border-radius: 0 0 15px 15px;
	transform: translate(-50%, 0);
	align-items: center;
	justify-content: center;
}

.mini-header * {
	display: inline-block;
	margin: 0 2rem;
}

.recipe-text {
    grid-area: approach;
    max-width: 1100px;
    margin: 0 2rem;
}

.recipe-ingredients {
    margin-top: -3rem;
    margin-left: 8rem;
    grid-area: ingredients;
    justify-items: center;
}

.ingredient-list {
    font-size: 1.25rem;
    border-collapse: separate;
    border-spacing: 0.5rem 1.5rem;
}

.quantity {
    margin: 1rem 0;
}

.recipe-shopping-list {
	grid-area: groceries;
	margin-right: 5rem;
}

.recipe-shopping-list .ingredient-wrapper:nth-child(even) {
    background-color: #f1f1f1;
}

.recipe-shopping-list .ingredient-wrapper:last-child	{
	border-bottom: 0.5px solid #cacaca;
}

.recipe-footer {
    grid-area: recipe-footer;
}

.recipe-section {
    display: grid;
    grid-template: "header header header" "ingredients approach groceries" "footer footer footer";
    grid-template-columns: 400px 0.75fr 450px;
    grid-template-rows: 50px 1fr 30px;
    grid-row-gap: 4rem;
    min-height: 100vh;
    justify-content: center;
}

//END Recipe GRID
.lead {
    font-size: 1.5rem;
}

.body ol {
    counter-reset: item;
    margin: 0 0 1.5em;
    padding: 0;
    font-size: 1.25rem;
    >li {
        counter-increment: item;
        list-style-type: none;
        margin: 0;
        padding: 1.5rem 0 0 2rem;
        &::before {
            content: counter(item) '.';
            display: inline-block;
            font-weight: bold;
            padding-right: 1.5rem;
            text-align: right;
            width: 1.5rem;
        }
    }
}

.ingredient-wrapper {
    position: relative;
    height: 4rem;
    border-top: 0.5px solid;
    border-color: #cacaca;
}

.cart-image {
    position: absolute;
    max-height: 2.5rem;
	max-width: 70px;
	height: auto;
	width: auto;
    display: inline-block;
    top: 50%;
	transform: translate(0, -50%);
	margin-left: 0.5rem;
}

.cart-text-wrapper {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	word-wrap: break-word;
}

.cart-text-wrapper p	{
	display: flex;
	flex-wrap: wrap;
	word-wrap: break-word;
	max-width: 190px;
	margin-right: 0.5rem;
	font-size: 1rem;
}

.price-wrapper {
    position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 85%;
}

.price-wrapper p {
	font-size: 1rem;
}

tbody .quantity, .title, .hint	{
	font-size: 1rem;
}

.item-price	{
	margin: 0;
}

.cart-text-wrapper p {
    display: block;
    margin: 0;
}

@media only screen and (max-width: 1300px) {
    .recipe-section {
        grid-template-columns: 250px 0.9fr 350px;
        justify-content: stretch;
    }
    .recipe-ingredients {
        margin-left: 0;
	}
	
	.recipe-shopping-list	{
		margin-right: 0;
	}
}