#recipe-header {
    position: relative;
    background-size: cover;
    height: 60vh;
    width: 100vw;
}

.gradient {
    bottom: 0;
    height: 50%;
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.recipe-header-title {
    position: absolute;
    left: 15vw;
    top: 35vh;
    color: #f1f1f1;
    font-size: 1.5rem;
}

.recipe-header-title h1 {
    font-weight: bold;
}

.concept-icon {
    -ms-flex-line-pack: center;
    align-content: center;
    display: inline-block;
    left: 70vw;
    top: 10vh;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.concept-icon img {
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    justify-self: auto;
    height: 7rem;
    margin-bottom: -1.5rem;
}

.concept-text {
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: -30px;
    margin-top: -30px;
    font-size: 2.25rem;
}

#add-section-top {
    height: 100px;
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba($color: #000000, $alpha: 0.3);
    margin-top: -100px;
    top: 60vh;
    left: 65vw;
    color: #f1f1f1;
}

#add-section-top div,
input {
    display: inline-block;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0.5rem 0.5rem;
}

.png {
    color: rgba($color: #000000, $alpha: 0);
}

#add-text-wrapper {
    margin-top: 1rem;
}

.add-recipe {
    font-size: 1.2rem;
}