@media (max-width: 600px) {
    
        
} 

@media (min-width: 768px) and (max-width: 1024px) {
   
    
}
 
html {
    overflow-y: scroll;

}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.steps-container {
    width: 100%;
  }
  
  .steps {
    counter-reset: step;
    position: relative;
    left: 3%;
  }
  .steps li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    font-size: 1rem;
  }
  .steps li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1.2px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }
  .steps li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index : -1;
  }
  .steps li:first-child:after {
    content: none;
  }
  .steps li.active {
    color: #f19500;
  }
  .steps li.active:before {
    border-color: #f19500;
  } 
  .steps li.active + li:after {
    background-color: #f19500;
  }

#wrapper {
    position: relative;
}

#background-week {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    background-image: url('../images/weekplanner.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: 100%;
    opacity: 0.4;
    filter: blur(10px);
    z-index: -1000;
    
}

#title-wrapper {
    border-radius: 3px;
    padding: 5px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: -8%;
}



.breakfast-wrapper {
    position: relative;
    display: grid;
    grid-gap: 5px;
    height: 27vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, minmax(12vmax, 0));
    
}

.lunch-wrapper {
    display: grid;
    position: relative;
    grid-gap: 5px;
    height: 27vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, minmax(12vmax, 0));
    
}

.dinner-wrapper {
    display: grid;
    position: relative;
    grid-gap: 5px;
    height: 27vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, minmax(12vmax, 0));
    
    
}


.breakfast {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
    background-color: white;
}

.lunch {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
    background-color: white;
}

.dinner {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
    background-color: white;
}

.btn-collapse {
    display: grid;
    background-color: #f19500;
    border: none;
    margin: auto;
    height: 4.5vh;
    margin-top: 1vh;
    border-radius: 3px;
    position: relative;
    width: 86vw;
}


.button-add {
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5vmax;
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
    top: 30px;
    background-color: rgb(255, 165, 20);
    font-size: 1.5vmax;
    color: white;
    border-style: none;
}   


.complete-btn {
    position: relative;
    background-color: rgb(255, 165, 20);
    border-style: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 170px;
    height: 70px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: -85px;
    left: 50%;
    
}

