
/*
    ./config.js
    Contains secret username and token for API requests
    to kolonial.no's API

*/

exports.secretusername = "user";

exports.secrettoken = "token";

exports.secret = "secret for signing cookies";

exports.development = {
  username: "sqlbrukernavn",
  password: "sqlpassord",
  database: "dtabasenavn",
  host: "ipadresse til databasen med portnummer",
  dialect: 'mysql'
}
