page-add-recipe {

    .button{
        background-color: #FFA51E;
    }

    ion-title{
        color: rgb(238, 237, 237);
    }
    
    .contentBack{
        background-color: #F0F0EC;
    }
    
    ion-label{
        font-size: 14px;
    }
}
