<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <script src="/reload/reload.js"></script>
    <h1><%= title %></h1>

    <form id = "" class="" action="authenticate" method="post">
      <div>
        <table>
          <tr>
            <td>  <label for="username">Brukernavn: </label> </td>
            <td> <input type="text" id="username" name="username"><br> </td>
          </tr>
          <tr>
            <td> <label for="pass">Passord: </label> </td>
            <td> <input type="password" id="pass" name="pass"><br> </td>
          </tr>
        </table>
      </div>

      <input type="submit" value="Logg Inn">
    </form>

    <% if (signedin === true) { %>

      <p>Du er logget inn.</p>

    <% } else {%>

      <p>Ikke logget in.</p>

    <% } %>


  </body>
</html>
