<% layout("layout") %>

  <h1>KWERITEST</h1>

	<div class="container container-fluid">
		<div class="header">
      </div>
			<form id="search-form" class="" action="querytest" method="post">
          <div>
            <input type="text" id="field-search" name="formfield" placeholder="ProduktID" >
            <input type="submit" value="Legg til">
          </div>
      </form>

      
      
      <table>
        <tr>

            <%if (locals.returnData){%>
              <td> <p> returnData = <%= returnData %></p> </td>
            
            <% } %>
          
        </tr>
      
          <% if (typeof allProducts == 'object' && allProducts !== 'undefined') {%>

            

            <% for (var product in allProducts) { %>

              
              <tr>
                <% for(var item in product.dataValues.kolonialId) { %>
                <td>
                  <%= item %>
                </td>
                <% } %>
              </tr>

            <% } %>

          <% } else { %> 

            <%= console.log(locals.allProducts)%>

            <p> Her var det ingen ting. </p>

          <% } %> 

      </table>
  


	

  
	</div>