<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <script src="/reload/reload.js"></script>

        <h1><%= title %></h1>
        <p>Oppskriftssøk: <%= search%></p>

        <form id = "" class="" action="recipes" method="POST">
            <div>
                <label for="sok">Søk: </label>
                <input type="text" id="sok" name="formsearch"><br>
            </div>

            <input type="submit" value="Søk">
        </form>
        
        <% include ./partials/recipesSearchResult %>
    </body>
</html>
