<!DOCTYPE html>
<html>

<head>
  <title>
	<%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' href="/stylesheets/searchstyle.css" />

</head>

<body>
  <script src="/reload/reload.js"></script>

  <div class="container">
	<div class="header">

	  <form id="" class="" action="search" method="post">
		<div>
		  <label for="sok">Søk: </label>
		  <input type="text" id="field-search" name="formsearch" value="<%= search %>">
			
		  <br>
		</div>

		<input id="btn-search" type="submit" value="Søk">
		</form>
		<p class="message"></p>
	</div>
	<div class="sidebar"></div>
	<div class="content">
		<ul class="search-result">

		</ul>	
	</div>
	<div class="footer">

	</div>
  </div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/search-ajax.js"></script>
</body>

</html>



