<% layout("layout") %>

	<div class="container container-fluid">
		<div class="header">

			<form id="search-form" class="" action="search" method="post">
				<div>
					<input id="grocery-search-field" type="text" id="field-search" name="formsearch" placeholder="Søk.." value="<%= search %>">
					<input id="grocery-search-btn" type="submit" value="Søk">

				</div>

			</form>
			<p class="message"></p>
		</div>
		<div class="sidebar">
			<b><h2>Varer</h2></b>
			<ul id="category-placeholder">
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
				<li>Kategorier</li>
			</ul>
		</div>
		<div class="content">
			<ul class="search-result">

			</ul>
		</div>
		<div class="footer">

		</div>
	</div>