<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/style.css" type="text/css"/>
    <meta charset="UTF-8">
</head>

<body>
<script src="/reload/reload.js"></script>

<form action="week-planner-current" method="post">
    <div class = "addMealButton" id="1-3">
        <div class = "plusIcon">
            <div class="diag-line"></div>
            <div class="hori-line"></div>
        </div>
    </div>
    <input type="submit" value="Mandag-Middag">
</form>

<form action="week-planner-current" method="post">
    <div class = "addMealButton" id="1-3">
        <div class = "plusIcon">
            <div class="diag-line"></div>
            <div class="hori-line"></div>
        </div>
    </div>
    <input type="submit" value="Tirsdag-Middag">
</form>


</body>
</html>
