<% layout("layout") -%>


	<div class="container">
		<div class="wrapper">
			<!--breakfast-->
			<div class="breakfast" id="breakfast-monday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-tuesday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-wednesday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-thursday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-friday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-saturday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-sunday">
				<p>Frokost</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<!--Lunch-->
			<div class="lunch" id="lunch-monday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-tuesday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-wednesday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-thursday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-friday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-saturday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-sunday">
				<p>Lunsj</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<!--Dinner-->
			<div class="dinner" id="dinner-monday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-tuesday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-wednesday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-thursday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-friday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-saturday">
				<p>Middag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-sunday">
				<p>Middag</p>
				<input type="submit" value="+" class="button-add">
			</div>
			
			<input type="submit" value="Fullfør" id="complete-btn">

		</div>
	</div>