<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href="/stylesheets/style.css" type="text/css" />
	<meta charset="UTF-8">
</head>

<body>
	<script src="/reload/reload.js"></script>
	<div class="container">
		<div class="wrapper">
			<!--breakfast-->
			<div class="breakfast b-monday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-tuesday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-wednesday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-thursday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-friday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-saturday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="breakfast b-sunday">
				<p>Frokost</p>
				<button type="submit" class="button"></button>
			</div>
			<!--Lunch-->
			<div class="lunch l-monday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-tuesday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-wednesday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-thursday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-friday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-saturday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="lunch l-sunday">
				<p>Lunsj</p>
				<button type="submit" class="button"></button>
			</div>
			<!--Dinner-->
			<div class="dinner d-monday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-tuesday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-wednesday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-thursday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-friday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-saturday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>
			<div class="dinner d-sunday">
				<p>Middag</p>
				<button type="submit" class="button"></button>
			</div>

		</div>
	</div>

</body>

</html>