page-search {

    $grid-columns:         10;
    
   
    ion-icon {
        position: relative;
        left: 10px;
        bottom: 5px;
        font-size: 30px;
        color: #FFA51E; 
    }

    .contento{
        background-color: #F0F0EC;
    }
}
