<ion-content class="contento" padding>

  <ion-searchbar (ionInput)="text" (animated)="true" placeholder="Søk i tusenvis av varer" [(ngModel)]="search"></ion-searchbar>
  <button class="sok" block ion-button icon-only (click)="performSearch(search)">
    <ion-icon color="light" name="search"></ion-icon>
  </button>


  <ion-grid wrap responsive-lg>
    <ion-row *ngFor="let item of products[0]">
      <ion-col col-2>
        <img *ngIf="item.images !== null" class="productImg" [src]="item.images[0].thumbnail.url" />
      </ion-col>
      <ion-col col-6>
        <p>{{item.name}}</p>
      </ion-col>
      <ion-col col-2>
        <p>{{item.gross_price}}</p>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only clear (click)="addProductToDatabase(item.id, item.name)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>