page-search {

    
    ion-icon {
        position: relative;
        left: 10px;
        bottom: 5px;
        font-size: 30px;
        color: #FFA51E; 
    }

    .contento{
        background-color: #F0F0EC;
    }

    .productImg{
        max-width: 100%;
        max-height: 40px;
    }

    .sok{
        background-color: orange;
    }
}
