#search-header {
    background-image: url("../images/search-recipe.jpg");
    background-size: cover;
    height: 40vh;
}

#recipe-header-text {
    position: absolute;
    top: 25%;
    left: 33%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#recipe-header-text h1 {
    color: #f1f1f1;
}

#recipe-header-text p {
    color: #f1f1f1;
}

#recipe-search-form {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#recipe-search-input {
    position: relative;
    width: 60vw;
    background-color: #f1f1f1;
}

#search-icon {
    position: absolute;
    display: inline;
    position: top right;
    right: 25px;
    top: 18px;
    font-size: 1.2rem;
}

#recipe-search-btn {
    position: absolute;
    left: -9000px;
}

#sok {
    position: relative;
    display: inline;
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
}