.container {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 50px 100px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "content content";
}


.header     {
    grid-area: header;
    background-color: orange;
}

.sidebar    {
    grid-area: sidebar;
    background-color: orange;
}

.content    {
    grid-area: content;
    display: grid;
}

.search-result  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    
    list-style-type: none;
    grid-gap: 10px;
}

.search-item {
    border: 1px solid black;
    
}

 .img-thumb {
     max-width: 100%;
     height: auto;
     
 }
