body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


.wrapper {
    display: grid;
    position: absolute;
    top: 30px;
    grid-gap: 5px;
    height: 100vh;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 10vmax);
    grid-template-rows: repeat(3, 13.5vmax);
    overflow: auto;
    margin: auto;
}

.breakfast {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.lunch {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.dinner {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.button-add {
    position: relative;
    top: 30px;
    height: 20%;
    width: 28%;
    border-radius: 50%;
    background-color: rgb(255, 165, 20);
    font-size: 1.5vmax;
    color: white;
    border-style: none;
}

.button-add:hover {
    background-color: rgb(250, 154, 0);
}

.button-add:active {
    background-color: rgb(209, 129, 0);

}

#complete-btn {
    position: relative;
    background-color: rgb(255, 165, 20);
    border-style: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    width: 170px;
    height: 70px;
    margin-left: -85px;
    left: 50%;
    
}

#complete-btn:hover {
    background-color: rgb(250, 154, 0);
}

#complete-btn:active {
    background-color: rgb(209, 129, 0);

}
