body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrapper {
    display: grid;
    position: relative;
    top: 30px;
    height: 100vh;
    width: 100vw;
    grid-gap: 5px;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 10vmax);
    grid-template-rows: repeat(3, 14vmax);
    overflow: auto;
}

.breakfast {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.lunch {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.dinner {
    border: 1.5px solid rgb(255, 165, 20);
    border-radius: 3px;
}

.button {
    position: relative;
    top: 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(255, 165, 20);
    font-size: 1.5rem;
    color: white;
    border-style: none;
}

.button:hover {
    background-color: rgb(250, 154, 0);
    border: 1px solid orange;
}
