<%if(currentDay){%>
    <form class="acb123" method="GET" action="/searchTabs">
        <input type="hidden"  name="dayid" >
        <label class="fas fa-plus-circle" for="go-to-planner">
            <input class="button-add planner-plus-btn" type="submit" name="go-to-planner">
        </label>
    </form>

    <% include plannerContentPartial.ejs %>
        <%} else {%>

            <form class="acb123" method="GET" action="/searchTabs">   
                <input type="hidden"  name="dayid" >
                <label class="fas fa-plus-circle"  for="go-to-planner"> 
                    <input class="button-add planner-plus-btn" type="submit" name="go-to-planner">
                </label>
            </form>

            <% } %>