<section id="search-header">
		<div id="recipe-header-text">
			<h1>Oppskriftssøk med et klikk</h1>
			<p>Oppskriftssøk:
				<%= search%>
			</p>
		</div>

			<div id="search-form" class="search-input">
				<input type="text" id="recipe-search-text" class="sok" name="formInput" placeholder="Søk i hundrevis av oppskrifter!">
				<label id="recipe-search-icon" for="search-btn" class="fas fa-search"></label>
			</div>
			<input id="recipes" class="search-btn" type="submit" value="Søk">


		<section class="recipe-tags-section">
			<!-- Section for recipe tags -->
		</section>

</section>
<section class="recipe-result-wrapper">
	
</section>

