<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Hjem</a>
				</li>
				<li class="breadcrumb-item" aria-current="page">
					<a href="/week-planner-current">Planleggeren</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="">Oppskriftssøk</a>
				</li>
			</ol>
		</nav>

<section id="search-header">
		<div id="recipe-header-text">
			<h1>Oppskriftssøk med et klikk</h1>
				<%= search%>
			</p>
		</div>



			<div id="search-form" class="search-input">
				<input type="text" id="recipe-search-text" class="sok" name="formInput" placeholder="Søk i hundrevis av oppskrifter!">
				<label id="recipe-search-icon" for="search-btn" class="fas fa-search"></label>
			</div>
			<input id="recipes" class="search-btn" type="submit" value="Søk">


		<section class="recipe-tags-section">
			

			<!-- Section for recipe tags -->
		</section>
		<div class="progressbar-container container-for-recipetab">
				<ul class="steps">
					<li class="active progress-tabs">Steg 1: Planlegge måltider for uken.</li>
					<li >Steg 2: Handle andre husholdingsartikler</li>
					<li>Steg 3: Oversikt</li>
				</ul>
			</div>

</section>
<section class="recipe-result-wrapper">

	
</section>

