page-profile {
    .btnLogout{
        color: white;
        font-family: "GT Walsheim Regular", sans-serif;
        background-color: #FFA51E;
        position: absolute;
        margin: auto;
    }
}
