page-camera {

    .cameraPage{
        background-color: #F0F0EC;
    }
   
    .img{
        position: absolute;
        top: 43%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        max-height: 40%;
        max-width: 50%;
        margin: 18px 0;
    }

    h2{
        position: relative;
        top: 9%;
    }

    .scanButton{
        font-family: "GT Walsheim Regular", sans-serif;
        background-color: #FFA51E;
        position: absolute;
        top: 73%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
    }

}
