<% layout("layout") -%>

<section class="cart-container">
	<header class="cart-header">
		<div class="cart-header-text">
			<h1>Handlekurv</h1>
			<h4>Se over handlekurven før du fortsetter til utlevering og betaling</h4>
		</div>
	</header>
	<main class="shopping-cart">
		<ul>
			<li class="cart-item-wrapper">
				<p class="item-quantity">1</p>
				<div class="cart-image-wrapper">
					<img class="cart-image" src="/images/kjottdeig.jpg" alt="">
				</div>
				<div class="cart-item-text">	
					<p>Kjøttdeig</p>
					<p>500g, Gilde</p>
				</div>
				<div class="item-cost-wrapper">
					<p>100,-</p>
					<p>15%</p>
				</div>
			</li>
			
		</ul>
	</main>
	<footer class="cart-footer">
		
	</footer>
</section>

