<% layout("layout") -%>

<section class="cart-container">
	<header class="cart-header">
		<h1>Handlekurv</h1>
		<h4>Se over handlekurven før du fortsetter til utlevering og betaling</h4>
	</header>
	<main class="shopping-cart">
		<ul>
			<li></li>
		</ul>
	</main>
	<footer class="cart-footer">
		
	</footer>
</section>

