<% layout("layout") -%>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Hjem</a></li>
    <li class="breadcrumb-item"><a href="/week-planner-current"></a></li>
  </ol>
</nav>
  <div id="index-background">

  </div>

  <h1 id="index-title">Planlegg uken din med «Hektisk»</h1>
  <div id="grid-wrapper">
  
    <div class="index-grid">
      <div class="index-image"><img class="steps-image" src="/images/Steg1.png" alt="Steg 1 Bilde"></div>
      <p class="index-image-text">
        Steg 1: Start Planleggingen ved å trykke på pluss knappen på de dagene/måltidene du ønsker å planlegge.</p>
    </div>
    <div class="index-grid">
      <div class="index-image"><img class="steps-image" src="/images/steg2.jpg" alt="Steg 2 Bilde"></div>
      <p class="index-image-text">
        Steg 2: Legg til andre varer som ikke hører til en spesiell dag eller et spesielt måltid</p>
    </div>
    <div class="index-grid">
      <div class="index-image"><img class="steps-image" src="/images/Steg3.PNG" alt="Steg 2 Bilde"></div>
      <p class="index-image-text">
        Steg 3: Få oversikt over varer som du har lagt til og gå til betaling hvis alt ser bra ut.</p>
    </div>
  </div>


  <a href="/week-planner-current">
    <input class="btn btn-primary next-btn-index" type="submit" value="Gå videre">
  </a>