<% layout("layout") -%>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Hjem</a></li>
    <li class="breadcrumb-item"><a href="/week-planner-current"></a></li>
  </ol>
</nav>
  <div id="index-background">

  </div>

  <h1 id="index-title">Planlegg uken din med «Hektisk»</h1>
  <div id="grid-wrapper">
  
    <div class="index-grid">
      <div class="index-image"></div>
      <p class="index-image-text">
        Steg 1: Planlegg ved å trykke på pluss knappen på den dag/måltid du ønsker å planlegge.</p>
    </div>
    <div class="index-grid">
      <div class="index-image"></div>
      <p class="index-image-text">
        Steg 2: Velg om du vil planlegge med oppskrifter eller komponere eget måltid</p>
    </div>
    <div class="index-grid">
      <div class="index-image"></div>
      <p class="index-image-text">
        Steg 3: Legg til basisvarer som ikke har noe med måtilder å gjøre. Såpe, tannkrem, vaskemidler..</p>
    </div>
  </div>


  <a href="/week-planner-current">
    <input class="btn btn-primary next-btn-index" type="submit" value="Gå videre">
  </a>