<!DOCTYPE html>
<html lang="en">
<head>
	<% include templates/head.ejs %>
</head>
<body id="body-section">
	<% include templates/header.ejs %>

	<main id="insert-search-option">
		<%- body %>
	</main>
	<% include templates/footer.ejs %>

	<% include templates/includes.ejs %>
</body>
</html>