<% layout("layout") -%>


	<section id="search-header">
		<div id="recipe-header-text">
        	<h1>Oppskriftssøk med et klikk</h1>
       		<p>Oppskriftssøk: <%= search%></p>	
		</div>

        <form id ="recipe-search-form" class="" action="recipes" method="POST">
            <div id="search-input">
                <input type="text" id="sok" name="formInput" placeholder="Søk i hundrevis av oppskrifter!">
				<label id="search-icon" for="search-btn" class="fas fa-search"></label>
            </div>
            <input id="search-btn" type="submit" value="Søk">
        </form>

		<section class="recipe-tags-section">
			<!-- Section for recipe tags -->
		</section>
        
	</section>
        <% include ../views/partials/recipesSearchResult %>
