<% layout("layout") -%>

<section id="tabs-container" class="container-fluid">
<section id="tabs-wrapper">
	<%- include /templates/tabs.ejs %>
</section>

        


<section id="search-location">
	
</section>
<a href="/week-planner-current"><label id="back-to-planner-btn" for="">Tilbake til planlegger</label></a>
	
</section>

