<% layout("layout") -%>
<section id="tabs-container" class="container-fluid">
<section id="tabs-wrapper">
	<%- include /templates/tabs.ejs %>
</section>

        


<section id="search-location">
	
</section>

	
</section>

