<% layout("layout") -%>

<h1 id="title-text">K-planleggeren</h1>
	<!--Frokost-->
	<div id="wrapper">

	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#breakfast-row" aria-expanded="true"
		    aria-controls="breakfast-row">
			Frokost
		</button>

	</p>
	<div class="collapse in" id="breakfast-row">
		<div class="breakfast-wrapper">
			<div class="breakfast" id="breakfast-monday">
				<p>Mandag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-tuesday">
				<p>Tirsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-wednesday">
				<p>Onsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-thursday">
				<p>Torsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-friday">
				<p>Fredag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-saturday">
				<p>Lørdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="breakfast" id="breakfast-sunday">
				<p>Søndag</p>
				<input type="submit" class="button-add" value="+">
			</div>
		</div>
	</div>
	</div>

	<!--Lunsj-->

	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#lunch-row" aria-expanded="true"
		    aria-controls="lunch-row">
			Lunsj
		</button>
	</p>
	<div class="collapse" id="lunch-row">
		<div class="lunch-wrapper">
			<div class="lunch" id="lunch-monday">
				<p>Mandag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-tuesday">
				<p>Tirsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-wednesday">
				<p>Onsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-thursday">
				<p>Torsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-friday">
				<p>Fredag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-saturday">
				<p>Lørdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="lunch" id="lunch-sunday">
				<p>Søndag</p>
				<input type="submit" class="button-add" value="+">
			</div>
		</div>
	</div>
	</div>

	<!--Dinner-->
	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#dinner-row" aria-expanded="true"
		    aria-controls="dinner-row">
			Middag
		</button>
	</p>
	<div class="collapse" id="dinner-row">
		<div class="dinner-wrapper">
			<div class="dinner" id="dinner-monday">
				<p>Mandag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-tuesday">
				<p>Tirsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-wednesday">
				<p>Onsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-thursday">
				<p>Torsdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-friday">
				<p>Fredag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-saturday">
				<p>Lørdag</p>
				<input type="submit" class="button-add" value="+">
			</div>
			<div class="dinner" id="dinner-sunday">
				<p>Søndag</p>
				<input type="submit" value="+" class="button-add">
			</div>
		</div>

	</div>
	</div>
	</div>
</div>
	<input class="btn btn-primary complete-btn" type="submit" value="Fullfør">