<% layout("layout") -%>
	<body id="week-planner-body">
	<div id="background-week">	
</div>
<h1 id="title-text">Ukesplanlegger</h1>
	<div id="wrapper">
	
	<!--Frokost-->
	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#breakfast-row" aria-expanded="true"
		    aria-controls="breakfast-row">
			Frokost
		</button>

	</p>
	<div class="collapse in show" id="breakfast-row">
		<div class="breakfast-wrapper">
			<div class="breakfast" id="breakfast-monday">
				<p>Mandag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-tuesday">
				<p>Tirsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-wednesday">
				<p>Onsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-thursday">
				<p>Torsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-friday">
				<p>Fredag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-saturday">
				<p>Lørdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="breakfast" id="breakfast-sunday">
				<p>Søndag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
		</div>
	</div>
	</div>

	<!--Lunsj-->

	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#lunch-row" aria-expanded="true"
		    aria-controls="lunch-row">
			Lunsj
		</button>
	</p>
	<div class="collapse" id="lunch-row">
		<div class="lunch-wrapper">
			<div class="lunch" id="lunch-monday">
				<p>Mandag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="lunch" id="lunch-tuesday">
				<p>Tirsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="lunch" id="lunch-wednesday">
				<p>Onsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="lunch" id="lunch-thursday">
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
				<p>Torsdag</p>
			</div>
			<div class="lunch" id="lunch-friday">
				<p>Fredag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="lunch" id="lunch-saturday">
				<p>Lørdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="lunch" id="lunch-sunday">
				<p>Søndag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
		</div>
	</div>
	</div>

	<!--Dinner-->
	<p>
		<button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#dinner-row" aria-expanded="true"
		    aria-controls="dinner-row">
			Middag
		</button>
	</p>
	<div class="collapse" id="dinner-row">
		<div class="dinner-wrapper">
			<div class="dinner" id="dinner-monday">
				<p>Mandag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-tuesday">
				<p>Tirsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-wednesday">
				<p>Onsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-thursday">
				<p>Torsdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-friday">
				<p>Fredag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-saturday">
				<p>Lørdag</p>
				<a href="/tabs"><input type="submit" class="button-add" value="+"></a>
			</div>
			<div class="dinner" id="dinner-sunday">
				<p>Søndag</p>
				<input type="submit" value="+" class="button-add">
			</div>
		</div>

	</div>
	</div>
	</div>
</div>
	<a href="/basis"><input class="btn btn-primary complete-btn" type="submit" value="Gå videre"></a>

	</body>