
/*
    ./config.js
    Contains secret username and token for API requests
    to kolonial.no's API

*/

exports.secretusername = "user";

exports.secrettoken = "token";

exports.secret = "secret for signing cookies";

exports.development = {
  username: "sqlbrukernavn",
  password: "sqlpassord",
  database: "dtabasenavn",
  host: "ipadresse til databasen",
  dialect: 'mysql'
}

exports.test = {
    username: "root",
    password: null,
    database: "database_test",
    host: "127.0.0.1",
    dialect: "sqlite"
}
