page-welcome {

    ion-title{
        font-family: "GT Walsheim Medium", sans-serif;
        color: rgb(238, 237, 237);
    }
    
    .welcome{
        background-color: #F0F0EC;
    }
    
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
      }
}
